[submodule "lib/ebm"]
	path = lib/ebm
	url = https://github.com/EuroPOND/ebm.git
[submodule "lib/deformetrica"]
	path = lib/deformetrica
	url = https://github.com/EuroPOND/deformetrica.git
[submodule "lib/pyebm"]
	path = lib/pyebm
	url = https://github.com/EuroPOND/pyebm.git
